@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

/* Custom Base Styles if needed, though usually standard classes suffice */
body {
  @apply bg-white text-gray-900 antialiased;
}